.home{
    color:red
}

p {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 5em;
    padding: 0;
    background-color: #f1f5f9;
}

.container {
    width: 100%;
    marign: 0 auto;
    border: 10px solid #0f172a;

    display: grid;
grid-template-rows: 100px 300px 100px;
grid-template-columns: 1fr 3fr 1fr;
grid-template-areas:
'header header'
'main aside'
'footer footer'

}

.item{
    padding: 0.5em;
    background-color: #ffffff;
    border: 10px solid #000000;
}

.item-1{
 grid-area:header;
}

.item-2{
grid-area:main;
display: grid;
}

.item-3{
gride-area: aside;
}

.item-4{
    grid-area:footer;
}